<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cms.tictactoe">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CreateAccountActivity"></activity>
        <activity android:name=".PrivateCabinetActivity" />
        <activity android:name=".LoginPassActivity" />
        <activity android:name=".RecordsTableActivity" />
        <activity android:name=".Game4x4Activity" />
        <activity android:name=".PreGameActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".Game3x3Activity" />
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>